<!DOCTYPE html>
<html>
  <head>
    <title>Add Value</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="container">
          <div class="navbar-nav">
            <a class="nav-item nav-link active " href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Add Food Item</a>
          </div>
        </div>
      </div>
    </nav>
    <br><br>
    <div class="container theme-showcase " role="main">
      <form method="POST" action="{{ url_for('addvalues',date='20200712') }}">
        <div class="card border-primary  w-75">
          <h5 class="card-header bg-primary text-white">{{ date }}</h5>
          <div class="card-body">
            <div class="form-group" >
              <select class="form-control" name="food-select">
                {% for food in food_result %}
                  <option value={{ food[0] }} >{{ food[1] }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary" >ADD</button>
          </form>
          <br><br><br><br>
          <div class="btn-group-toggle"  data-toggle="buttons">
            <label class="btn btn-primary active badge-pill">
              <input type="checkbox" checked autocomplete="off">Total
            </label>
            <button type="button" class="btn btn-light badge-pill">
            Protein <span class="badge badge-primary badge-pill">{{ totals.protein }}</span>
            <button type="button" class="btn btn-light badge-pill">
            Carbohydrates <span class="badge badge-primary badge-pill">{{ totals.carbohydrates }}</span>
            <button type="button" class="btn btn-light badge-pill">
            Fat <span class="badge badge-primary badge-pill">{{ totals.fat }}</span>
            <button type="button" class="btn btn-light badge-pill">
            calories <span class="badge badge-primary badge-pill">{{ totals.calories }}</span>
            </button>
          </div>
          <br><br>
          <hr>
          {% for food in log_results %}
          <div class="btn-group-toggle"  data-toggle="buttons">
            <label class="btn btn-primary active badge-pill">
              <input type="checkbox" checked autocomplete="off">{{ food[0] }}
            </label>
            <button type="button" class="btn btn-light badge-pill">
            Protein <span class="badge badge-primary badge-pill">{{ food[1] }}</span>
            <button type="button" class="btn btn-light badge-pill">
            Carbohydrates <span class="badge badge-primary badge-pill">{{ food[2] }}</span>
            <button type="button" class="btn btn-light badge-pill">
            Fat <span class="badge badge-primary badge-pill">{{ food[3] }}</span>
            <button type="button" class="btn btn-light badge-pill">
            calories <span class="badge badge-primary badge-pill">{{ food[4] }}</span>
            </button>
          </div><hr>
          {% endfor %}
        </div>
      </body>
    </html>