{% extends 'base.html' %}
{% block body %}
  <!DOCTYPE html>
  <html>
    <head>
      <title>Home</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
      
    </head>
    <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
      <div class="container">
        <div style="background-color:rgba(0,0,0,0.6)">
          <h1 class="display-1">Food Tracker</h1>
          <p class="lead">A great life for living</p>
        </div>
      </div>
    </div>
    <div class="container" style="width:60%;" >
      <form method='POST' action="/">
        <div class="form-group">
          <label>New Date</label>
        </div>
        
        <div class="input-group mb-3">
          <input type="date" class="form-control" name="date">
          
        </div>
        <button type="submit" class="btn btn-bubble" id="button-addon2">ADD</button>
        <br><br>
        {% for r in results %}
          <div class="card border-primary mb-3">
            <h5 class="card-header bg-primary text-white" >{{r.pretty_date}}</h5>
            <div class="card-body" name="date" style="background-color: #dbf3fa">
              
              <div class="btn-group-toggle"  data-toggle="buttons">
                
                <button type="button" class="btn btn-default badge-pill btn-static c" style="outline:none; box-shadow: none">
                Protein <span class="badge badge-primary badge-pill">{{ r.protein }}</span>
                <button type="button" class="btn  badge-pill " style="outline:none; box-shadow: none">
                Carbohydrates <span class="badge badge-primary badge-pill">{{ r.carbohydrates }}</span>
                
                <button type="" class="btn badge-pill " style="outline:none; box-shadow: none">
                Fat <span class="badge badge-primary badge-pill">{{ r.fat }}</span>
                <button type="button" class="btn badge-pill" style="outline:none; box-shadow: none">
                calories <span class="badge badge-primary badge-pill">{{ r.calories }}</span>
                </button>
                <a href="{{ url_for('view', date=r.entry_date)}}" type="submit" class="btn btn-link">View Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </form>
      
    </body>
  </html>
{% endblock %}